html
  head
    title='Docker is awesome'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Geeks, R00trwx Welcomes you .
        p One of the finest web Application you will ever see is in front of you
        p Want to know more about your R00trwx, then click <a href="https://www.rootrwx.com/">here</a>